# {{ ansible_managed }}
# Generated on {{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }}

[Interface]
Address = 10.8.0.1/24
ListenPort = 51820
PrivateKey = {{ wg_server_private_key }}
# PostUp = iptables -t nat -A PREROUTING -d 192.168.15.4 -j DNAT --to-destination 10.8.0.2;iptables -I INPUT -p udp --dport 51820 -j ACCEPT; iptables -t nat -I POSTROUTING 1 -s 10.8.0.0/24 -o ens3 -j MASQUERADE; iptables -I INPUT 1 -i wg0 -j ACCEPT; iptables -I FORWARD 1 -i ens3 -o wg0 -j ACCEPT; iptables -I FORWARD 1 -i wg0 -o ens3 -j ACCEPT;iptables -I FORWARD 1 -i wg0 -s 10.8.0.0/24 -j ACCEPT;iptables -I FORWARD 2 -i ens3 -o wg0 -j ACCEPT;
# PostDown = iptables -D FORWARD -i wg0 -o ens3 -j ACCEPT; iptables -D FORWARD -i ens3 -o wg0 -j ACCEPT; iptables -D INPUT -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -s 10.8.0.0/24 -o ens3 -j MASQUERADE; iptables -D INPUT -p udp --dport 51820 -j ACCEPT; iptables -t nat -D PREROUTING -d 192.168.15.4 -j DNAT --to-destination 10.8.0.2;iptables -D FORWARD -i wg0 -s 10.8.0.0/24 -j ACCEPT;iptables -D FORWARD -i ens3 -o wg0 -j ACCEPT;
PostUp = iptables -t nat -A PREROUTING -d 192.168.15.4 -j DNAT --to-destination 10.8.0.2; iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o ens3 -j MASQUERADE
PostDown = iptables -t nat -D PREROUTING -d 192.168.15.4 -j DNAT --to-destination 10.8.0.2; iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o ens3 -j MASQUERADE
MTU = 1420

# Static peers

# Nas
[Peer]
PublicKey = {{ wg_nas_public_key }}
AllowedIPs = 10.8.0.2

# Mac
[Peer]
PublicKey = {{ wg_mac_public_key }}
AllowedIPs = 10.8.0.3

# S22
[Peer]
PublicKey = {{ wg_s22_public_key }}
AllowedIPs = 10.8.0.4

# Github Actions
[Peer]
PublicKey = {{ wg_github_actions_public_key }}
AllowedIPs = 10.8.0.5

# IPad
[Peer]
PublicKey = {{ wg_ipad_public_key }}
AllowedIPs = 10.8.0.6

# Raspberry Pi Office
[Peer]
PublicKey = {{ wg_raspberry_pi_office_public_key }}
AllowedIPs = 10.8.0.7

# OPI Node - 1
[Peer]
PublicKey = {{ wg_opi_1_public_key }}
AllowedIPs = 10.8.0.8


# Dynamic Peers
# Generated by ansible

{% for peer in groups['vpn_clients_dynamic'] %}

# Host: {{ peer }} - Private IP: {{ hostvars[peer].wg_private_ip }}
[Peer]
PublicKey  = {{ hostvars[peer].wg_public_key }}
AllowedIPs = {{ hostvars[peer].wg_private_ip }}

{% endfor %}
