# {{ ansible_managed}} 
# Generated on {{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }}

[Interface]
PrivateKey= {{ wg_private_key }}
Address = {{ wg_private_ip }}/32
MTU = 1420

# Ping the vpn server to ensure the tunnel is initialized
PostUp = ping -c1 10.8.0.1

[Peer]
# VPN server's wireguard public key
PublicKey = {{ wg_server_public_key }}

Endpoint = {{ wg_server_endpoint }}

# Peer connection + OCI Private network + OCI Public network + Local network + Pod network + Service network
AllowedIPs = 10.8.0.0/24{% if route_oci_networks_through_vpn %},10.0.0.0/28,10.0.1.0/28{% endif %}{% if route_home_network_through_vpn %},192.168.15.0/24{% endif %},10.42.0.0/16,10.43.0.0/16

# To keep a connection open from the server to this client
# (Use if you're behind a NAT, e.g. on a home network, and
# want peers to be able to connect to you.)
PersistentKeepalive = 25